{% extends 'base.html' %}

{% block title %}URL Shortener{% endblock %}

{% block main %}

<div class="columns is-mobile">
  <div class="column">

    <article class="panel">
      <p class="panel-heading">
        Website
      </p>
      <form action="your-url" method="POST" class="m-4 pb-4">

        <div class="field">
          <label class="label">Short Name</label>
          <div class="control">
            <input class="input" required name="code" value="" type="text" placeholder="">
          </div>
        </div>

        <div class="field">
          <label class="label">Website URL</label>
          <div class="control">
            <input class="input" required name="url" value="" type="url"
              placeholder="http://some-long-url-you-want-to-shorten.com/link/1/2/3/4/">
          </div>
        </div>
      
        <div class="field">
          <div class="control">
            <button class="button is-link is-fullwidth" type="submit">Shorten</button>
          </div>
        </div>
      </form>
      
    </article>
    

  </div>

  <div class="column">

    <article class="panel">
      <p class="panel-heading">
        File
      </p>

      <form action="your-url" method="POST" enctype="multipart/form-data" class="m-4 pb-4">
        <div class="field">
          <label class="label">Short Name</label>
          <div class="control">
            <input class="input" required name="code" value="" type="text" placeholder="">
          </div>
        </div>

        <div class="field">
          <label class="label">Website URL</label>
          <div class="control py-2">
            <input class="is-size-6" type="file" name="file" required value="">
          </div>
        </div>
      
        <div class="field">
          <div class="control">
            <button class="button is-link is-fullwidth" type="submit">Shorten</button>
          </div>
        </div>
      </form>
      
    </article>

  </div>

</div>

{% if codes %}

<h3 class="title is-3">Codes you have created</h3>
<div class="content">
  <ul>
    {% for code in codes %}
    <a href="{{ url_for('urlshort.redirect_to_url', code=code) }}">
      <li>{{ code }}</li>
    </a>
    {% endfor %}
  </ul>
</div>


{% endif %}

{% endblock %}
