{% extends 'base.html' %}

{% block title %}URL for "{{ code }}"{% endblock %}

{% block main %}
 

<h1 class="title">URL Created</h1>

<div class="control">
    <input class="input" id="new_url" value="{{ url_for('urlshort.redirect_to_url', code=code, _external=True) }}" readonly>
</div>
<p>
    <button onclick="myFunction()" class="button is-link">Copy URL</button>
</p>

  

<script>
function myFunction() {
    var copyText = document.getElementById("new_url");
    copyText.select();
    document.execCommand("copy");
}
</script>

{% endblock %}